* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-outline: 0;
	font-family Roboto, sans-serif, arial;
    
}
html, body 
	{
	font-size: 16px;
	font-weight: 400;
	background-color: #0096C7;
	color: #ffffff;
    width: 100%;
    height: 100%;
}
.topnav {
    background-color: #023E8A;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #4ca5a5;
    color: white;
}
/*----- MAIN ------*/
.container {
	width: 1100px;
	margin: 0px auto;
	display: table;
   
}
.width-50 {
	float: left;
	width: 50%;
}
.width-50 img{
    width: 70%;
	padding: 50px 50px;
	margin-top: 100px;
    margin-bottom: 0%;
	margin-left: 20%
}
.banner-section {
	width: 100%;
	float: left;
	margin-top: 25vh;
}
.banner-section h1 {
	font-size: 48px;
	margin-top: 100px;
	font-weight: bolder;
}
.banner-section h2 {
	font-size: 20px;
	line-height: 25px;
	margin-top: 10px;
	font-weight: 400;
}
.banner-section a {
	float: left;
	text-decoration: none;
	font-size: 18px;
	margin-top: 20px;
	border-radius: 50%;
	text-align: center;
	border: 2px solid #fdfcfc;
	color: #090a0a;
	margin-left: 10px;
	height: 50px;
	width: 50px;
	line-height: 50px;
}
.card {
	width: fit-content;
	height: fit-content;
	background-color: #0096C7;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px 25px;
	gap: 20px;
	
  }
  
  /* for all social containers*/
  .socialContainer {
	width: 52px;
	height: 52px;
	background-color: #0096C7;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
	background-color: #d62976;
	transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
	background-color: #ffffff;
	transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
	background-color: #0072b1;
	transition-duration: .3s;
  }
  .socialContainer:active {
	transform: scale(0.9);
	transition-duration: .3s;
  }
  
  .socialSvg {
	width: 17px;
  }
  
  .socialSvg path {
	fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
	animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
	0% {
	  transform: translateY(-50px);
	  opacity: 0;
	}
  
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
  }

/* ----- ABOUR ME ----- */
.container-about {
	width: 100%;
	display: table;
   
}
.main-section {
	width: 100%;
	float: left;
	padding: 50px 0px 0px 0px;
    background-color: #0096C7;
	margin-top: 0%;
}
.width-100 {
	width: 100%;
	float: left;
}
.mt-20 {
	margin-top: 20px;
}
.heading-text {
	width: 100%;
	float: left;
	font-size: 35px;
	text-align: center;
	margin-bottom: 0%;
	color: #18150e;

}
.about-img {
	width: 100%;
	margin-bottom: 0%;
	margin-top: 0%;
	
	
}
#about-me {
	width: 100%;
	float: left;
	padding: 15px;
    margin-top: 0px;
}
.about-us{
	padding-top: 100px;
}
.about-us p {
	font-size: 18px;
	margin-top: 15px;
	line-height: 27px;
}
table {
	width: 100%;
}
table th,
table td {
	font-size: 16px;
	text-align: left;
	padding: 5px 0px;
}

/*------SKILL SECTION------*/
.container-skills {
	width: 1200px;
	margin: 0px auto;
	display: table;
    margin-top: 7%;
	margin-bottom: 0%;
   
}
.skill {
	margin-top: 30px;
	font-size: 17px;
}

.skill span {
	float: right;
}

.skill div {
	width: 100%;
	float: left;
	margin-top: 5px;
	background: #e9edee;
	border-radius: 10px;
}

.skill div span {
	background: #000;
	height: 5px;
	float: left;
}
div[role="progressbar"] {
	color: #000;
	margin-left: 100px;
	margin-bottom: 20px;
	width: 100px;
	;
	height: 100px;
	;
	border-radius: 50%;

	place-items: center;
	display: grid;

	--pgPercentage: var(--value);
	background: radial-gradient(closest-side, #0096C7 80%, transparent 0 99.9%, rgb(125, 127, 128) 0),
		conic-gradient(#0a0a0a calc(var(--pgPercentage) * 1%), rgb(250, 252, 253) 0);

}
/*------EXPERIENCE SECTION------*/
.container-experience{
	width: 1100px;
	margin: 0px auto;
	display: table;
   
}
.bg-lightgrey {
	background-color: #0096C7;
}
.edu-exp {
	padding: 10px 0px;
	width: 48%;
	margin: 1%;
	float: left;
	padding-left: 10px;
}
.experience-list {
	width: 100%;
	float: left;
	padding: 30px 10px;
	background: #262626;
	margin-bottom: 20px;
}
.experience-content {
	width: 100%;
	float: left;
	margin-left: 10px;
}
.experience-content h2 {

	font-weight: 600;
	margin-bottom: 5px;
	font-size: 20px;
}
.experience-content h3 {
	color: #848a8a;
	font-weight: 500;
	margin-bottom: 2px;
	font-size: 17px;
}
.experience-content p {
	font-size: 16px;
}
/*PORTFOLIO SECTION*/
.container5{
	margin-top: 3%;
	margin-left: 5%;
}
.width-33 {
	width: 40%;
	float: right;
	margin: 0px 60px 0px 20px;
	
}
.gallery {
	width: 70%;
	height: 100%;
	float: left;
	margin: 30px 30px 30px 150px;	
}
.gallery img {
	width: 100%;
	margin: 0px 20px 20px 0px;
	border: 5px solid #000;
	border-radius: 15px;
	padding: 20px;
}
/*****FOOTER SECTION*****/
.footer {
	background-color: #0D1B2A;
	padding: 20px 0px 20px 0px;
	width: 100%;
	height: 150px;
	float: left;
	margin-top: 10%;
}
.footer-sect {
	color: #b3b3b3;
}
.footer-sect a {
	color: #b3b3b3;
	margin-left: 10px;
	text-decoration: none;
	font-size: 18px;
	text-align: center;
}
.card1 {
	width: fit-content;
	height: fit-content;
	background-color: #1B263B;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px 25px;
	gap: 20px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* for all social containers*/
  .socialContainer1 {
	width: 52px;
	height: 52px;
	background-color: #415A77;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition-duration: .3s;
	border-radius: 50%;
  }
  /* instagram*/
  .containerOne:hover {
	background-color: #d62976;
	transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
	background-color: #ffffff;
	transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
	background-color: #0072b1;
	transition-duration: .3s;
  }
  .socialContainer:active {
	transform: scale(0.9);
	transition-duration: .3s;
  }
  
  .socialSvg {
	width: 17px;
  }
  
  .socialSvg path {
	fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
	animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
	0% {
	  transform: translateY(-50px);
	  opacity: 0;
	}
  
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
  }
.span-col {
	color: #0b0c0c;
}